body {
    background-color: #EFECE9;
    font-family: 'Arista Pro';
}

.cor-fundo{
    background-color: #EFECE9;
}

.cor-text {
    color: #EFECE9;
}

.cor-text-marrom {
    color: #58362D;
}

.cor-text-marrom a{
    color: #58362D;
}

.cor {
    background-color: #58362D;
}

.btn {
    border: 1px solid #EFECE9;
}

.btn:hover {
    border: 1px solid #EFECE9;
}

.texto-menor {
    font-size: 13px;
}
.divs-facilidade {
    width: 325px;
}

.div-novidades {
    width: 325px;
}
.posicao{
    top: 40%;
}


@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}


/* GALERIA */

.img-gallery {
    width: 80%;
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    gap: 30px;
}

.img-gallery > img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.6s ease;
    cursor: pointer;
}

.img-gallery img:hover {
    scale: 0.85;
    box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
}

/* PRODUTOS */
.card-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card-10 {
    flex-basis: calc(33.33% - 20px); /* Para criar espaço entre os cards */
    padding: 10px 20px 10px 20px;
    background-color: #58362D;
    border-radius: 24px;
    margin-bottom: 20px; /* Espaço entre os cards abaixo */
  }

.card-10 img {
    max-width: 280px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card-10 h3, h2{
    color: #EFECE9;
}

.card-10 p { color: #EFECE9;}

.card-10 button {
    border: 2px solid #EFECE9;
    background: #58362D;
    color: #EFECE9;
    font-family: inherit;
    padding: 10px 20px;
    font-size: 16px;
    border-radius:  24px;
    cursor: pointer;
    font-weight: bold;
}

.card-10 button:hover {
    background-color: #EFECE9;
    transition: 0.7s;
    color: #58362D;
    font-weight: bold;
}

@media (width <= 740px){ 
    .card-10 {
        flex-basis: calc(50% - 20px);
    }

    .card-10 img {
        margin: 0;
    }
}

/* FOOTER */

hr {
    background-color: #58362D;
}

footer {
    position: relative;
    background: #EFECE9;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #58362D;    
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #58362D;
    font-size: 30px;
    font-weight: bold;
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
    list-style-type: none;
    text-decoration: none;
}

footer .content .link-boxes .box a{
    text-decoration: none;
    color: #58362D;
}

.content .link-boxes{
    color: #58362D;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name{
    font-weight: bold;
}

.link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #EFECE9;
}

footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 17px;
    font-weight: 300;
    color: #58362D;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover{
    text-decoration: underline;
}

.bottom-details .bottom_text a{
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes{
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    footer{
        position: relative;
    }

    footer .content .link-boxes .box{
        width: calc(100% / 3 - 10px);
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }

    .link-boxes .box .dia{
        font-size: 14px;
    } 
}
